# Database Configuration
POSTGRES_USER=SkyRouteAdmin
POSTGRES_PASSWORD=SkyR0uteP@55w0rd
POSTGRES_DB=SkyRoute
DATABASE_URL=postgresql://SkyRouteAdmin:SkyR0uteP@55w0rd@db:5432/SkyRoute

# Authentication Secrets
JWT_SECRET=asdf
JWT_EXPIRES_IN=1h

# Simulator Authentication
SIM_USER_PASSWORD=ChangeMe!23

# Initial Seed Passwords
ADMIN_PASSWORD=AdminPass!23
SERVICE_ACCOUNT_PASSWORD=ChangeMe!23
