* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  font-size: 20px;

  display: flex;
  justify-content: center;
  padding-top: 100px;
}

#root > div {
  background: white;
  padding: 32px 40px;
  border-radius: 12px;
  width: 420px;
  max-width: 90vw;
}

p {
  margin-top: 6px;
  margin-bottom: 18px;
  font-size: 1rem;
  opacity: 0.7;
}

input,
button {
  margin-bottom: 16px;
  font-size: 1rem;
}